<ion-header [translucent]="true">
  <ion-toolbar color="danger">
    <ion-title>Menu</ion-title>
  </ion-toolbar>
</ion-header>
<br>
<ion-content [fullscreen]="true">
  <ion-button expand="full" (click)="abrirCadastro()">Cadastro</ion-button>
  <ion-button expand="full" (click)="abrirRecebimento()">Contas a Receber</ion-button>
  <ion-button expand="full" (click)="abrirPagamento()">Contas a Pagar</ion-button>
</ion-content>
<ion-footer>
    <ion-toolbar>
      <ion-title size="large">@Feito por Jhonata Vicentin</ion-title>
    </ion-toolbar>
</ion-footer>